<h1>PRODUCTS</h1>

<div>
    {{#each valueReturned }}
    <div >
        <div>code: {{this.code}}</div>
        <div>
            <h4>{{this.title}}</h4>
            <p>
                <li>
                    id: {{this.id}}
                </li>
                <li>
                    description: {{this.description}}
                </li>
                <li>
                    price: ${{this.price}}
                </li>
                <li>
                    category: {{this.category}}
                </li>
                <li>
                    status: {{this.status}}
                </li>
                <li>
                    stock: {{this.stock}}
                </li>
                <li>
                    thumbnail: {{this.thumbnail}}
                </li>
            </p>
        </div>
    </div>


    {{/each}}
</div>